In [2]:
## 필요한 데이터 파일을 다운로드.
## 2015년 Loan Data 다운로드 후 적잘한 위치에 저장.
import numpy as np
import pandas as pd

In [4]:
## 1. Data Loading 
df = pd.read_csv("./data/loandata/LoanStats3d.csv",
                 sep=","       # csv 파일은 기본적으로 , 으로 구분을 합니다. 근데만약에 컴마(,)가 아니면 sep= 해서 구분자를 정해줄수 있따
                 ,skiprows=1 ) # skiprows=n // n개 행 건너뛰고부터 읽어!!!

In [21]:
## 총 데이터의 수 확인( 몇 건의 대출정보가 있는지 확인)
# display(df.head())
# display(df.shape)
display(df.columns)

[Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
        'term', 'int_rate', 'installment', 'grade', 'sub_grade',
        ...
        'orig_projected_additional_accrued_interest',
        'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
        'debt_settlement_flag', 'debt_settlement_flag_date',
        'settlement_status', 'settlement_date', 'settlement_amount',
        'settlement_percentage', 'settlement_term'],
       dtype='object', length=144)]

In [19]:
## 필요한 column만 추출해서 새로운 DataFrame을 생성
## loan_amnt : 대출금액
## loan_status : 대출 상태
## grade : 대출 등급
## int_rate : 이자율
## term : 대출기간
df2 = df[["loan_amnt","loan_status","grade","int_rate","term"]]
df2.head()

   loan_amnt loan_status grade int_rate        term
0    24700.0  Fully Paid     C   11.99%   36 months
1    10000.0  Fully Paid     C   12.88%   36 months
2    20000.0  Fully Paid     A    6.49%   36 months
3    20000.0  Fully Paid     A    5.32%   36 months
4    18000.0  Fully Paid     A    7.49%   36 months