In [2]:
## 필요한 데이터 파일을 다운로드.
## 2015년 Loan Data 다운로드 후 적잘한 위치에 저장.
import numpy as np
import pandas as pd

In [4]:
## 1. Data Loading 
df = pd.read_csv("./data/loandata/LoanStats3d.csv",
                 sep=","       # csv 파일은 기본적으로 , 으로 구분을 합니다. 근데만약에 컴마(,)가 아니면 sep= 해서 구분자를 정해줄수 있따
                 ,skiprows=1 ) # skiprows=n // n개 행 건너뛰고부터 읽어!!!

In [21]:
## 총 데이터의 수 확인( 몇 건의 대출정보가 있는지 확인)
# display(df.head())
# display(df.shape)
display(df.columns)

[Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
        'term', 'int_rate', 'installment', 'grade', 'sub_grade',
        ...
        'orig_projected_additional_accrued_interest',
        'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
        'debt_settlement_flag', 'debt_settlement_flag_date',
        'settlement_status', 'settlement_date', 'settlement_amount',
        'settlement_percentage', 'settlement_term'],
       dtype='object', length=144)]

In [22]:
## 필요한 column만 추출해서 새로운 DataFrame을 생성
## loan_amnt : 대출금액
## loan_status : 대출 상태
## grade : 대출 등급
## int_rate : 이자율
## term : 대출기간
df2 = df[["loan_amnt","loan_status","grade","int_rate","term"]]
df2.head()

   loan_amnt loan_status grade int_rate        term
0    24700.0  Fully Paid     C   11.99%   36 months
1    10000.0  Fully Paid     C   12.88%   36 months
2    20000.0  Fully Paid     A    6.49%   36 months
3    20000.0  Fully Paid     A    5.32%   36 months
4    18000.0  Fully Paid     A    7.49%   36 months

In [39]:
## 각 컬럼의 값 확인
display(df2["loan_status"].unique())
display(df2["grade"].unique())
display(df2["term"].unique())
## 결치값 제거
display(df2.shape)
df2.dropna(how="any", inplace=True) # Nan이 있는 해당 행을 다 지우겠다 inplace : 날린다음에 원본 바꿀꺼
display(df2.shape)

array(['Fully Paid', 'Charged Off', 'Current', 'Late (31-120 days)',
       'In Grace Period', 'Late (16-30 days)'], dtype=object)

array(['C', 'A', 'D', 'B', 'F', 'E', 'G'], dtype=object)

array([' 36 months', ' 60 months'], dtype=object)

(421095, 5)

C:\ProgramData\Anaconda3\envs\cpu_env\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

(421095, 5)

In [70]:
print("{:,}" .format(1000000000)) # 뒤에있는거를 3자리마다 끊어서 출력해줍니다

1,000,000,000

In [102]:
## 대출기간별 대출 총액 구하기
##
display(df2["term"].unique())
for i in df2["term"].unique():
    print(df2.loc[df2["term"]==i,"loan_amnt"].sum())
    print(i)

array([' 36 months', ' 60 months'], dtype=object)

3626461100.0
 36 months
2791147075.0
 60 months

In [85]:
## 대출기간별 대출 총액 구하기
## 강사님 ver

terms = df2["term"].unique()
term_result = {}
for t in terms:
    term_sum = df2.loc[df2["term"] == t, "loan_amnt".sum()
    term_result[t] = term_sum
    
for key in term_result:
    print("{}",format(key),end=" : ")
    print("{}" .format(":,") .format(term_result[key]))

SyntaxError: invalid syntax (<ipython-input-85-97c8a3e51920>, line 8)

In [106]:
## 대출 중 불량한 상태의 대출에 대해서
## 불량한 상태의 대출( Charge Off, Late (31-120 days),
## In Grace Period, Late (16-30 days))
## 불량한 등급의 대출 건수 
## 각 Grade의 대출 건수를 구하세요
## 개별적으로 구해 보아요
display(df2["loan_status"].unique())
display(df2["grade"].unique())
df2["grade"][1]
for i in df2["grade"].unique():
    display(df2.loc[df2["grade"] == i, "loan_status"])

array(['Fully Paid', 'Charged Off', 'Current', 'Late (31-120 days)',
       'In Grace Period', 'Late (16-30 days)'], dtype=object)

array(['C', 'A', 'D', 'B', 'F', 'E', 'G'], dtype=object)

0          Fully Paid
1          Fully Paid
5         Charged Off
6             Current
8         Charged Off
9             Current
12         Fully Paid
14        Charged Off
22         Fully Paid
28            Current
31         Fully Paid
34            Current
37         Fully Paid
38        Charged Off
43            Current
44        Charged Off
50            Current
53         Fully Paid
56         Fully Paid
57         Fully Paid
58         Fully Paid
63         Fully Paid
64         Fully Paid
66            Current
69        Charged Off
71         Fully Paid
73        Charged Off
85         Fully Paid
87         Fully Paid
88         Fully Paid
             ...
420987    Charged Off
420990    Charged Off
420992     Fully Paid
420993     Fully Paid
420995     Fully Paid
420997    Charged Off
420998    Charged Off
421004    Charged Off
421005     Fully Paid
421011     Fully Paid
421028     Fully Paid
421029     Fully Paid
421030        Current
421031    Charged Off
421033     Fully Paid
421035     Fully Paid
421036        Current
421038     Fully Paid
421040     Fully Paid
421041     Fully Paid
421042     Fully Paid
421046     Fully Paid
421049     Fully Paid
421053        Current
421058    Charged Off
421061     Fully Paid
421062     Fully Paid
421067     Fully Paid
421081     Fully Paid
421082     Fully Paid
Name: loan_status, Length: 120567, dtype: object

2          Fully Paid
3          Fully Paid
4          Fully Paid
15         Fully Paid
17         Fully Paid
23         Fully Paid
24         Fully Paid
36         Fully Paid
45         Fully Paid
52         Fully Paid
61         Fully Paid
65         Fully Paid
72         Fully Paid
77         Fully Paid
79         Fully Paid
80         Fully Paid
84         Fully Paid
90         Fully Paid
93         Fully Paid
104        Fully Paid
121        Fully Paid
132       Charged Off
137        Fully Paid
140        Fully Paid
145        Fully Paid
146           Current
150        Fully Paid
151        Fully Paid
159       Charged Off
164        Fully Paid
             ...
420888     Fully Paid
420890    Charged Off
420892     Fully Paid
420900     Fully Paid
420910     Fully Paid
420935     Fully Paid
420936    Charged Off
420951     Fully Paid
420963     Fully Paid
420966     Fully Paid
420968     Fully Paid
420972     Fully Paid
420975     Fully Paid
420978     Fully Paid
421000     Fully Paid
421007     Fully Paid
421015     Fully Paid
421018     Fully Paid
421022     Fully Paid
421032     Fully Paid
421043     Fully Paid
421054     Fully Paid
421057    Charged Off
421064     Fully Paid
421066     Fully Paid
421071     Fully Paid
421077     Fully Paid
421078     Fully Paid
421083     Fully Paid
421084     Fully Paid
Name: loan_status, Length: 73336, dtype: object

7                    Current
11               Charged Off
18                Fully Paid
20                Fully Paid
26               Charged Off
30                Fully Paid
33                Fully Paid
35               Charged Off
41                Fully Paid
42                Fully Paid
46                Fully Paid
51                   Current
70               Charged Off
99               Charged Off
106               Fully Paid
111                  Current
112               Fully Paid
118               Fully Paid
119               Fully Paid
124              Charged Off
129                  Current
134               Fully Paid
142              Charged Off
143               Fully Paid
144               Fully Paid
154              Charged Off
162               Fully Paid
168                  Current
174               Fully Paid
188               Fully Paid
                 ...
420950           Charged Off
420970            Fully Paid
420973            Fully Paid
420974               Current
420984            Fully Paid
420985           Charged Off
420994            Fully Paid
420996            Fully Paid
421009            Fully Paid
421012            Fully Paid
421014    Late (31-120 days)
421019           Charged Off
421020            Fully Paid
421023           Charged Off
421039            Fully Paid
421045            Fully Paid
421047           Charged Off
421050            Fully Paid
421052               Current
421059           Charged Off
421063            Fully Paid
421068           Charged Off
421069               Current
421072            Fully Paid
421073            Fully Paid
421074           Charged Off
421075            Fully Paid
421079            Fully Paid
421089            Fully Paid
421092           Charged Off
Name: loan_status, Length: 62654, dtype: object

10                Fully Paid
16                Fully Paid
19                Fully Paid
21                Fully Paid
25                Fully Paid
27                Fully Paid
29                Fully Paid
32                   Current
39                Fully Paid
40                Fully Paid
48                Fully Paid
49                Fully Paid
54                Fully Paid
55                Fully Paid
59                Fully Paid
60                Fully Paid
62                Fully Paid
68                Fully Paid
74                Fully Paid
75                Fully Paid
78        Late (31-120 days)
81                Fully Paid
82                Fully Paid
83                Fully Paid
86                Fully Paid
91                Fully Paid
96                Fully Paid
97                Fully Paid
98                Fully Paid
101               Fully Paid
                 ...
420958            Fully Paid
420959            Fully Paid
420967            Fully Paid
420976            Fully Paid
420981            Fully Paid
420991           Charged Off
420999            Fully Paid
421003            Fully Paid
421006            Fully Paid
421010            Fully Paid
421013            Fully Paid
421016           Charged Off
421017               Current
421024           Charged Off
421025            Fully Paid
421027            Fully Paid
421034            Fully Paid
421051               Current
421056            Fully Paid
421060            Fully Paid
421065            Fully Paid
421070               Current
421076               Current
421080            Fully Paid
421085            Fully Paid
421087            Fully Paid
421088           Charged Off
421090            Fully Paid
421091            Fully Paid
421094            Fully Paid
Name: loan_status, Length: 117606, dtype: object

13         Fully Paid
105        Fully Paid
109       Charged Off
158       Charged Off
184        Fully Paid
414       Charged Off
462        Fully Paid
494        Fully Paid
497        Fully Paid
630        Fully Paid
686        Fully Paid
691           Current
694        Fully Paid
735        Fully Paid
736       Charged Off
884        Fully Paid
904        Fully Paid
912        Fully Paid
1029       Fully Paid
1089       Fully Paid
1113          Current
1274       Fully Paid
1284       Fully Paid
1388       Fully Paid
1415       Fully Paid
1426          Current
1446       Fully Paid
1487          Current
1537      Charged Off
1554       Fully Paid
             ...
419978    Charged Off
420081    Charged Off
420132    Charged Off
420283    Charged Off
420288        Current
420291    Charged Off
420294    Charged Off
420308     Fully Paid
420313     Fully Paid
420421        Current
420438    Charged Off
420459     Fully Paid
420518     Fully Paid
420546     Fully Paid
420569     Fully Paid
420574     Fully Paid
420627     Fully Paid
420742        Current
420758    Charged Off
420760        Current
420786     Fully Paid
420793     Fully Paid
420853    Charged Off
420894     Fully Paid
420961     Fully Paid
420982    Charged Off
420988     Fully Paid
421002    Charged Off
421008    Charged Off
421037    Charged Off
Name: loan_status, Length: 9817, dtype: object

47            Current
67        Charged Off
76         Fully Paid
94        Charged Off
108       Charged Off
113           Current
152       Charged Off
167        Fully Paid
230        Fully Paid
245       Charged Off
251       Charged Off
286        Fully Paid
336       Charged Off
369        Fully Paid
397        Fully Paid
408        Fully Paid
412        Fully Paid
415           Current
424        Fully Paid
446       Charged Off
506       Charged Off
527           Current
535        Fully Paid
551           Current
568       Charged Off
575           Current
598           Current
599        Fully Paid
609        Fully Paid
617           Current
             ...
420731    Charged Off
420744     Fully Paid
420769     Fully Paid
420791        Current
420806     Fully Paid
420811    Charged Off
420816        Current
420822    Charged Off
420872        Current
420879    Charged Off
420882     Fully Paid
420905        Current
420911    Charged Off
420923        Current
420926    Charged Off
420927    Charged Off
420934     Fully Paid
420945        Current
420955     Fully Paid
420969     Fully Paid
420979    Charged Off
420989    Charged Off
421001     Fully Paid
421021    Charged Off
421026    Charged Off
421044    Charged Off
421048    Charged Off
421055     Fully Paid
421086    Charged Off
421093    Charged Off
Name: loan_status, Length: 34948, dtype: object

316       Charged Off
347       Charged Off
808        Fully Paid
992       Charged Off
1215          Current
1236      Charged Off
1641      Charged Off
2744      Charged Off
2780       Fully Paid
3302       Fully Paid
3452       Fully Paid
3995       Fully Paid
4049          Current
4052      Charged Off
4677      Charged Off
4798      Charged Off
4833      Charged Off
4961      Charged Off
4965      Charged Off
5433      Charged Off
5503      Charged Off
5636      Charged Off
6593      Charged Off
6763       Fully Paid
6824       Fully Paid
6827       Fully Paid
6838          Current
7210       Fully Paid
7225       Fully Paid
7794       Fully Paid
             ...
417155     Fully Paid
417416     Fully Paid
417433     Fully Paid
417507     Fully Paid
417552     Fully Paid
417653     Fully Paid
417828     Fully Paid
417976     Fully Paid
418077    Charged Off
418094    Charged Off
418200     Fully Paid
418773    Charged Off
418903     Fully Paid
419361    Charged Off
419691     Fully Paid
419853     Fully Paid
419862        Current
419941    Charged Off
419974     Fully Paid
420072    Charged Off
420243     Fully Paid
420266     Fully Paid
420514    Charged Off
420532    Charged Off
420674     Fully Paid
420794     Fully Paid
420813     Fully Paid
420866     Fully Paid
420897    Charged Off
420940     Fully Paid
Name: loan_status, Length: 2167, dtype: object

In [132]:
bad_loan_status = df2["loan_status"].unique()[[1,3,4,5]]
print(bad_loan_status)
## 불량 대출에 대한 mask 생성
bad_mask = df2["loan_status"].isin(bad_loan_status)
print(bad_mask.sum())
print("===" *3)
df3 = df2.loc[bad_mask,"grade"]
df3.value_counts().sort_index()

['Charged Off' 'Late (31-120 days)' 'In Grace Period' 'Late (16-30 days)']
78919
=========

A     4023
B    14376
C    24470
D    18021
E    12587
F     4375
G     1067
Name: grade, dtype: int64